* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
    overflow: visible;

}

.top-image {
    position: absolute;
    top: -80;
    left: 80%;
    width: 120px;
    height: auto;
    transform: translateX(-50%);
    z-index: 10;

}

.side-image {
    position: absolute;
    bottom: 30px;
    left: -100px;
    width: 100px;
    height: auto;
    z-index: 5;

}

.card {
    background-color: #FFEFF5;
    width: 500px;
    height: 80vh;
    box-shadow: 0 4px 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 100;
}

.header {
    background-color: #FFD6E8;
    width: 500px;
    height: 50px;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin-top: 20px;

}

.header-title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: x-large;
    font-weight: 400;
    /*Used to make my text less bold*/
}

.icon {
    height: 30px;
    width: 30px;
}

.add-task {
    background-color: #F4F4F4;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    background-color: #FF9EB5;
    color: white;
    font-size: 10px;
    width: 60px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.add-button:hover {
    background-color: #f0c5dd;
    transform: scale(1.2);
}

.task-text {
    margin-left: 20px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 8px 12px;
}

.task input {
    flex: 1;
    margin: 0 10px;
    padding: 6px 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

.complete-button,
.cancel-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task input:focus {
    border-color: #FF79C6;
    box-shadow: 0 0 5px rgba(255, 121, 198, 0.5);
}

.cancel-button:hover,
.complete-button:hover {
    transform: scale(1.4);
    transition: 0.1s;
}

.task.completed input {
    text-decoration: line-through;
    opacity: 0.6;
}